$footer-all-borde: 1px solid black;
$nav-bar-border : 1px solid black;
$img-link-borde: 1px solid black;
$formL-border: 2px solid #EECA9B;
$footer-absoluto-borde: 1px solid black;
$formR-borde: solid 5px #EECA9B;
$videosP-borde: 3px solid #0298F9;
$metodosI-borde: 1px solid black;
$formi-borde: 1px solid black

