/*variables sass*/
@import "bordes";
@import"fuentes";
@import "bordes";
@import"mixins";
/*general*/
@font-face {
    font-family: "fira-light", sans-serif;
    src: url(../recursos/fonts/FiraSans-LightItalic.ttf);
}
@font-face {
    font-family: "fira-regular", sans-serif;
    src: url(../recursos/fonts/FiraSans-Regular.ttf);
}
@font-face {
    font-family: "fira-semibold", sans-serif;
    src: url(../recursos/fonts/FiraSans-SemiBold.ttf);
}
iframe{
@include iframe(300px,300px)
}
*{
    @include general
}
a{
    @include anchor
}
.req{
   @include requerido
}
.icono-pagina{
    @include icono-de-pagina(80px, 1px, 0px)
}
.footer-all{
   @include footer-all
}
.footer-absoluto{
    @include footer-absoluto
}
#nav-bar{
   @include nav-bar-base
}
/*fin general*/
/*especificos inicio*/
.fondo-pagina{
    background-image: radial-gradient( circle farthest-corner at 1.3% 2.8%,  rgba(239,249,249,1) 0%, rgba(182,199,226,1) 100.2% );
    height: 100%;
    width: 100%;
    background-size:cover;
    background-repeat: no-repeat;
}
.grilla-inicio{
    @include grilla-inicio
    }
.img-inicio1{
    @include img-inicio1( 100%, 0px, 200px)
    }
.form-inicio1{
    @include form-inicio1
    }
    
.flex-inicio1{ @include flex-inicio1; 
    }
.img-link{@include img-link;
    }
/*especificos login*/
.grilla-login{
   @include grilla-login
}
.flex-login{
   @include flex-login
}
.fondo-login{
    background-image: url(../recursos/imagenes/fondo\ login.jpg);
    height: 100%;
    width: 100%;
    background-size:cover;
    background-repeat: no-repeat;
}
/*fin especificos login*/
/*especificos registro*/
.fondo-registro{
    background-image: url(../recursos/imagenes/fondo-registro.jpg);
    height: 100%;
    width: 100%;
    background-size: cover;
}
.grilla-registro{
    @include grilla-registro
}
.form-registro{
   @include form-registro
}
/*fin especificos registro*/
/*especifico productos*/
.grilla-productos{
    @include grilla-productos
}

.lista-productos{
   @include lista-productos
}
.fondo-productos{
    background-image: url(../recursos/imagenes/fondo-productos.jpg);
    height: 100%;
    width: 100%;
    background-size:cover;
}
.videos-productos{
 @include videos-productos
}
/*fin de especificos productos*/
/*informacion-especifico*/
.fondo-informacion{
    background-image: url(../recursos/imagenes/fondo\ informacion.jpg);
    height: 100%;
    width: 100%;
    background-size:cover;
}
.img-metodos-i{
    @include img-metodos-i
}
.img-metodos{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 70px 30px 150px 25px 25px 500px 82px;
    grid-template-areas: 
    "     t1      "
    "      d1         "
    "     img-metodos    "
    "       d2     "
    "      d3         "
    "      mapa             "
    "          footer             "
    
    
    ;
    #t1{
        grid-area: t1;
    }
    #d1{
        grid-area: d1;
        p{
            font-size: 20px;
        }
    }
    #img-metodos{
        grid-area: img-metodos;
    }
    #d2{
        grid-area: d2;
    }
    #d3{
        grid-area: d3;
    }
    #mapa{
        grid-area: mapa;
        .map-info{
            height: 200px;
            width: 451px; 
        }
    }
    #footer{
        grid-area: footer;
    }
}

/*pseudoclases*/
#nav-bar a:hover{
    background-color:rgb(137, 190, 224);
    border-radius: 2px;
    padding: 5px;
    color:white;
}
button:active{
    background-color: #2594F0;
    border-radius: 5px;
    padding: 5px; 
}
.flex-inicio1 div:hover{
    background-color:rgb(137, 190, 224);
    border: solid 5px;
    padding: 2PX;
    color: black;
}
/*mediaquaries*/
@media (max-width:480px){
    .footer-all{
       @include footer-all-media
}
h1{
    @include h1(35px,start)
}
/*mixin inicio*/
    .grilla-inicio{
        @include grilla-inicio-media
    }
/*mixin informacion*/
    .img-metodos{
        @include img-metodos-media
    }
/*mixin productos*/

.grilla-productos{
   @include grilla-productos-media
}
/*login media mixin*/
.fondo-login{
    @include fondo-login-media
}
.grilla-login{
   @include grilla-login-media
}
/*registro media mixin*/
.fondo-registro{
    @include fondo-registro-media;
}
.grilla-registro{
   @include grilla-registro-media
}
}